<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    <title>bioData</title>
  </head>
  <body style="background-color: beige">
    <div style="text-align: center">
      <h1 style="color: coral; margin-top: 2em; text-shadow: 2px 2px grey">
        <i>Biodata</i>
      </h1>
      <table
        style="
          width: 65%;
          border: 1px solid black;
          margin: auto auto;
          margin-top: 2em;
        "
      >
        <tr style="border: 1px solid black; background-color: azure">
          <th style="border: 1px solid black">ID</th>
          <th style="border: 1px solid black">Name</th>
          <th style="border: 1px solid black">Gender</th>
          <th style="border: 1px solid black">Birthday</th>
          <th style="border: 1px solid black">Status</th>
          <th style="border: 1px solid black"></th>
        </tr>
        <% for (let i = 0; i < data.length; i++){ %>
        <tr style="border: 1px solid black">
          <td style="border: 1px solid black"><%= data[i].id %></td>
          <td style="border: 1px solid black"><%= data[i].name %></td>
          <td style="border: 1px solid black"><%= data[i].gender %></td>
          <td style="border: 1px solid black"><%= data[i].dob %></td>
          <td style="border: 1px solid black"><%= data[i].status %></td>
          <td>
            <a href="/biodata/<%=data[i].id%>/edit">Edit</a> |
            <a href="/biodata/<%= data[i].id%>/delete">Delete</a>
          </td>
        </tr>
        <% } %>
      </table>
      <a href="/biodata/add">Add new biodata</a>
      <!-- <button
        onclick="goBack()"
        style="display: block; margin: auto auto; margin-top: 10px"
      >
        Go Back
      </button> -->
      <br><a href="/">Home</a>
    </div>
  </body>
</html>